/*variavel para as cores*/
:root{

    --texto-escuro: #15191d;
    --texto-claro: #e9e3d9;

    --texto-titulo-claro: #15191d;
    --texto-titulo-escuro: #e9e3d9;
    --texto-hover:#d60257;

    --menu-fundo2: #4d4f61;
    --menu-lateral: #15191d;
    --menu-fundo1 : #e9c07d;
    --cor4: #360e04;
    --cor5: #d60257;

}
/*css geral*/

body {
    font-family: Arial, Helvetica, sans-serif;
   /* color: #15191d; outro jeito de escolher a cor*/
    color: var(--texto-escuro);
    background: var(--menu-fundo1);
}

a{
    color: var(--texto-claro);
    text-decoration: none;
}

a:hover {
    color: var(--texto-hover);
    text-decoration: none; /*retirar o underline*/
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}
/*cabeçalho*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 0;
    padding: 0 15px;
    background: var(--menu-lateral);
    overflow-y: auto;
}
